.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.main-page__main-section {
    padding: 10px;
    box-sizing: border-box;
    width: 60%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 35%;   
}

@media (max-width: 900px) {
    .main-page__main-section,
    .main-page__favorites {
        min-width: 100%;
        box-sizing: border-box;
    }
    .main-page__main-section {
        order: 2;
    }
}
